<div class="container-fluid p-2" style="background:rgb(103, 181, 236);witdh:100%;height:900px">
   <img class="card-img-top mx-auto   rounded-circle" src="/imagenes/logoBelen.png" alt="logo" 
        style="width: 240px; height: 240px; display: block;margin-top:10%">
</div>