<div class="container">
    <main class="mt-5">
        <div class="container">
            <div class="card mx-auto">
                <div class="header">
                        <img class="card-img-top mx-auto m-2 rounded-circle" src="/imagenes/logoBelen.png" alt="logo" 
                        style="width: 150px; height: 150px; display: block;">
                        <h3 class="text-uppercase text-center">iglesia belen</h3>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aliquam quas, omnis nesciunt praesentium accusamus tempora, molestiae corporis perspiciatis dolorum neque? Eos quae, sequi officiis ducimus aperiam provident qui distinctio.</p>
                    <a href="#" class="btn btn-primary">Registra Miembro</a>
                </div>
            </div>
        </div>
    </main>
</div>