  <nav class="navbar navbar-expand-lg  "  style="background:turquoise">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> 
        <img class="card-img-top mx-auto m-2 rounded-circle" src="/imagenes/logoBelen.png" alt="logo" 
        style="width: 40px; height: 40px; display: block;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Iglesia
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/addPerson">
                addMiembro</a></li>
            <li><a class="dropdown-item" href="/listarPersona">Listado de miembros</a></li>
            {{!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Bautizos</a></li>
            <li><a class="dropdown-item" href="#">Asistencia</a></li> --}}
          </ul>
        </li>
        {{!-- <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> --}}
      </ul>
      {{!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> --}}
    </div>
  </div>
</nav>